*{
    text-align: center;
}
.oferta {
    border: 2px solid green;
    background:url('../../../public/assets/img/oferta.png');
    background-size: cover;
    background-position: center;
}
.td-name {
    text-transform: uppercase;
}
h2 {
    font-size: 20px;
    background:rgba(255, 255, 255, 0.7);
}
td {
    vertical-align: middle;
}
td, th {
    max-width: 250px;
}
.td-compra {
    min-width: 180px;
}
img {
    width: 150px;
}